.App{
	background-image: url("https://previews.123rf.com/images/olegdudko/olegdudko1802/olegdudko180201809/94878830-il-disegno-variopinto-fornisce-la-struttura-sullo-spazio-libero-del-fondo-bianco-disposizione-piana-.jpg?fj=1");
	background-repeat: no-repeat;
	background-size: 100% 100%;
    height: 100vh;
    justify-content: flex-start !important;
  }
  
 