@import url(
'https://fonts.googleapis.com/css2?family=Lobster&display=swap');
  
.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;

}
  
h1 {
  font-family: 'Assistant', cursive;
  font-size: 50px;
  color: rgb(36, 35, 35)
  
}
  
.draw-area {
  width: 1200px;
  height: 720px;
  border: 2px solid #a736f3;
  position: relative;
  background-color: white;
}
  
.Menu {
  width: 1200px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 1px;
  align-items: center;
  background-image: url("https://previews.123rf.com/images/klss/klss1708/klss170800157/84410735-exciting-3d-rendering-of-colorful-particles-on-a-light-blue-background-with-splashing-white-places-t.jpg");
  margin: auto;
  margin-top: 2px;
  font-family: "arial";
  font-weight: bolder;
  


}

.joinContainer{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Menu button{
    border-radius: 80px;
    background-color: rgb(20, 158, 27);
    font-weight: bold;
    cursor: pointer;
    color:white;
    margin:1%;
    width:22% !important;
    
}
.eraser
{
  /* borderRadius:'50%',backgroundColor:'#f2f2f2',width:'60px',height:'50px',display:'flex',alignItems:'center',justifyContent:'center',border:'5px solid black',color:'green'} */
  border-radius: 50%;
  background-color: #f2f2f2;
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  color: green;
  cursor: pointer;
}

.eraser:hover {
  background-color: rgb(255, 255, 255);
  color: #3fe1e7;
}
.Menu button:hover{
  border-radius: 80px;
  background-color: rgb(138, 247, 123);
  font-weight: bold;
  cursor: pointer;
  color:black;
  
}

.inpBtn{
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  width: 140px;
  margin-top: 35px;
  align-self: center;
  border-radius: 7px;
  background-color: rgb(33, 61, 216);
  color:white;
}

.inpBtn:hover{
  font-weight: bold;
  cursor: pointer;
  background-color:#3fe1e7 ;
  color: rgb(56, 6, 18);
  
}